<nav class="navbar">
  <div class="navbar__logo">
    <a href="/"><img src="/style/images/retro.png" alt="Retro Logo" /></a>
  </div>

  <button class="navbar__toggle" aria-label="Toggle menu" onclick="toggleMenu()">☰</button>

  <ul class="navbar__links" id="navbarLinks">
    <li>
      <a href="/challenges" class="{{#if (eq currentPage 'challenges')}}active{{/if}}">Challenges</a>
    </li>
    <li><a href="/yearly-challenge-2025">52 GAMES</a></li>
    <li><a href="/kaizo-hacks">KAIZO</a></li>
    <li>
      <a href="/backlog" class="{{#if (eq currentPage 'backlog')}}active{{/if}}">Backlog</a>
    </li>
    <li>
      <a href="/about" class="{{#if (eq currentPage 'about')}}active{{/if}}">ABOUT</a>
    </li>
  </ul>
</nav>