<link rel="stylesheet" href="/style/css/about.css">

<main class="about-outer">
  <div class="about-wrapper">
    <div class="about-text">
      <h1 class="about-title">about</h1>
      <p class="about-subtitle">
        I am a passionate video game player and a growing 
        <a href="https://www.twitch.tv/MazkoMac" target="_blank">Twitch</a> 
        streamer hailing from Vancouver, British Columbia.
      </p>
      <p class="about-body">
        Additionally, I am an application and website developer pursuing a career in digital forensics and cybersecurity. This site is an attempt to blend
        my passion of gaming with my love of development and design. Who knows where this will go, but the process of making it has been worth it alone.
      </p>
    </div>
    <div class="about-image">
      <img src="/style/images/dan.jpg" alt="Dan" class="portrait">
    </div>
  </div>
</main>
